.Note {
    width: 100%;
    height: 90vh;
    background-color: rgb(236, 113, 113);
}

.Note textarea {
    width: 100%;
    height: 80vh;
    background-color: rgb(109, 241, 142);
    resize: none;
    overflow-y: auto;
    font-size: 15px;
}

.Note input {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 15px;
}
