.DisplayNote {
    width: 100%;
    height: 87vh;
    background-color: rgb(236, 113, 113);
}

.DisplayNote label.details {
    width: 100%;
    height: 70vh;
    background-color: rgb(109, 241, 142);
    padding: 0;
    resize: none;
    overflow-y: auto;
    font-size: 15px;
}

.DisplayNote label.title {
    width: auto;
    height: 40px;
    padding: 0;
    border: 1px solid black;
    box-align: center;
    text-align: center;
    font-size: 15px;
}

.DisplayNote input {
    width: 30px;
    height: 40px;
    padding: 0;
    border: 1px solid black;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
}