.NavigationBar {
    background-color: rgb(113, 221, 167);
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    position: fixed;
    border: solid 1px;
    align-items: center;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    z-index: 90;
}


